logs/
saves/
.curseclient
/crash-reports
*.log
minecraftinstance.json
options.txt
optionsof.txt
profileImage/DALL·E-2024-08-20-21.25.png
/XaeroWaypoints
/XaeroWaypoints_*
/XaeroWorldMap
usernamecache.json
usercache.json
servers.dat


.idea/material_theme_project_new.xml
/.idea
config/customloadingscreen_timings.nbt

config/InvTweaks.cfg
config/customloadingscreen_timings.nbt
config/xaerominimap_entities.json
config/splash.properties
config/xaerominimap_entities.json
local/client/sidebar_buttons.json
config/improvedmobs/equipment.json
config/esm/entity_ai.json
config/customloadingscreen_timings.nbt
config/cgm/guns/shotgun.json
config/cgm/guns/rifle.json
config/cgm/guns/machine_pistol.json
config/cgm/guns/handgun.json
config/cgm/guns/grenade_launcher.json
config/cgm/guns/chain_gun.json
config/cgm/guns/bazooka.json
config/cgm/guns/assault_rifle.json
config/ambientsounds-client.json
