logs/
saves/
.curseclient
/crash-reports
*.log
minecraftinstance.json
options.txt
optionsof.txt
profileImage/DALL·E-2024-08-20-21.25.png
/XaeroWaypoints
/XaeroWaypoints_*
/XaeroWorldMap
usernamecache.json
usercache.json
servers.dat


.idea/material_theme_project_new.xml
/.idea
config/customloadingscreen_timings.nbt

config/InvTweaks.cfg
config/customloadingscreen_timings.nbt
config/xaerominimap_entities.json
config/splash.properties
